:root{
    --orange: #ff8800;
    --black: #011212;
    --borderRadius: 50px;
    --ballWidth: 100px;
    --ballHeight: 100px;
}

body {
    background-color: var(--black);
}

.ball {
    width: var(--ballWidth);
    height: var(--ballHeight);
    background-color: var(--orange);
    border-radius: var(--borderRadius);
}