.button{
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: greenyellow;

}

.buttonRemove{
    margin-top: 5px;
    margin-left: 8px;
    background-color: red;
    color: darkblue;
    border-radius: 5px 5px 5px 5px;
}